._bcdi/
._d/
*.cmi
*.cmo
*.o
lexer.ml
parser.ml
parser.mli
test/*.s
test/manyargs.ml
test/toomanyargs.ml
min-rt/globals.s
shootout/Makefile
bytemark/Makefile
virtual.ml
simm.ml
regAlloc.ml
libmincaml.S
emit.ml
asm.ml
asm.mli
min-caml
min-caml.top
